body {
  padding:10%;
}

input {
  margin: 20px;
}

.titleBar {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  font-weight: 500;
  margin:0px;
  min-width: 200px;
}

.task {
  display: flex;
  margin: 20px;
}

.status {
  width: 10px;
  margin: 0 10px;
}

.content {
  min-width: 200px;
  cursor: pointer;
}

.deleteBtn {
  visibility: hidden;
  color:grey;
  cursor: pointer;
}

.task:hover .deleteBtn,
.titleBar:hover .deleteBtn{
  visibility: visible;
}

.done .content {
  text-decoration: line-through;
}

.done .status {
  background-color: mediumseagreen;
}

.doing .status {
  background-color: orange;
}

.unDone .status {
  background-color: lightblue;
}
