.doneTask,.unDoneTask{
  display: flex;
  margin:10px;
}

.status {
  width: 10px;
  margin: 0 10px;
}

.doneTask .task {
  text-decoration: line-through;
}

.doneTask .status {
  background-color: mediumseagreen;
}

.unDoneTask .status {
  background-color: lightblue;
}
